.header {
  @include container;
  padding: {
    top: 16px;
    bottom: 23px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--mobile {
    display: none;
  }

  &__logo {
    max-width: 181px;
    max-height: 41px;
  }

  &__search-bar {
    flex: 1;
    position: relative;

    padding: {
      left: 121px;
      right: 43px;
    }

    &--mobile {
      display: none;
    }

    &::after {
      content: "";
      background-image: url("../assets/search.svg");
      display: block;
      width: 18px;
      height: 18px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 121px;
      margin-right: 43px;
      cursor: pointer;
    }

    &__input {
      width: 100%;
      border: none;
      border-bottom: 1px solid $color-gray-4;
      outline: none;
      font-size: 13px;
      line-height: 18px;
      height: 23px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    height: 20px;

    &__account {
      text-decoration: none;
      color: $color-gray-4;
      font-size: 13px;
      line-height: 18px;
      display: flex;
      align-items: center;
      margin-right: 21px;

      &::before {
        content: "";
        background-image: url("../assets/user.svg");
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 5px;
        margin-bottom: 2px;
      }
    }

    &__cart {
      background-image: url("../assets/shopping-cart.svg");
      width: 18px;
      height: 18px;
      margin-right: 5px;

      &--counter {
        background-color: $color-highlight;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        display: block;
        font-size: 10px;
        font-weight: bold;
        line-height: 14px;
        text-align: center;
        color: $color-white;
      }
    }
  }

  @include max-mobile {
    padding: {
      right: 20px;
      left: 20px;
      top: 7px;
      bottom: 11px;
    }

    &--mobile {
      display: block;
    }

    &__logo {
      max-width: 109px;
      max-height: 25px;
    }

    &__menu {
      background-image: url("../assets/menu.svg");
      width: 23px;
      height: 16px;
      border: none;
      outline: none;
    }

    &__links {
      &__account {
        display: none;
      }
    }

    &__search-bar {
      display: none;
      padding: 0;
      margin-top: 14px;

      &::after {
        margin: 0;
      }

      &--mobile {
        display: block;
      }
    }
  }
}
